entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[objectStorage]
defaultBucketID = "replit-objstore-90cdf83f-ad70-4b54-9f29-7f2870bcd963"

[workflows]
runButton = "Web Dashboard"

[[workflows.workflow]]
name = "Web Dashboard"
author = 15297962
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[ports]]
localPort = 5000
externalPort = 80
